<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Equipe - Mapeia</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <header>
    <nav id="menu">
      <a href="/">Home</a>
      <a href="/equipe">Equipe</a>
      <a href="/projeto">Sobre o Projeto</a>
      <img src="/imagens/usuario.png" class="usuario-logo-equipe">
    </nav>
  </header>

  <main>
    <h1>Equipe do Mapeia</h1>

    <div class="equipe-container">
      <div class="membro">
        <img src="/imagens/usuario.png" class="usuario-logo">
        <h2>Gabriel Luis de Andrade Carvalho – Bolsista / Desenvolvedor</h2>
        <p>
          Graduando em Tecnologia em Análise e Desenvolvimento de Sistemas (ADS) pelo IFMA Campus Coelho Neto.
          Possui curso técnico/profissionalizante em Técnico em Informática Integrado ao Ensino Médio (IFMA, 2022).
        </p>
        <a href="http://lattes.cnpq.br/2850444473008506" target="_blank" class="botao-lattes">
          Ver Currículo Lattes
        </a>
      </div>

      <div class="membro">
        <img src="/imagens/usuario.png" class="usuario-logo">
        <h2>Ana Flavia Lima Nascimento – Voluntária / Desenvolvedora</h2>
        <p>
          Graduanda em ADS pelo IFMA Campus Coelho Neto.
          Possui curso técnico/profissionalizante em Técnico em Informática Integrado ao Ensino Médio (IFMA, 2022).
        </p>
        <a href="http://lattes.cnpq.br/3639473921159442" target="_blank" class="botao-lattes">
          Ver Currículo Lattes
        </a>
      </div>

      <div class="membro">
        <img src="/imagens/usuario.png" class="usuario-logo">
        <h2>Bruno Vicente Alves de Lima – Coordenador</h2>
        <p>
          Bacharel em Ciência da Computação (UFPI, 2012).
          Mestre em Ciência da Computação (UFPI, 2015).
          Doutor em Engenharia Elétrica e de Computação (UFRN, 2021).
        </p>
        <a href="http://lattes.cnpq.br/6744627108761351" target="_blank" class="botao-lattes">
          Ver Currículo Lattes
        </a>
      </div>

      <div class="membro">
        <img src="/imagens/usuario.png" class="usuario-logo">
        <h2>Elayne da Silva Figueredo – Colaboradora Externa</h2>
        <p>
          Graduada em Engenharia Cartográfica e de Agrimensura (UFPI).
          Especialista em Geoprocessamento (IFPI) e em Geotecnologias e SIG (PUC Minas).
          Mestre em Desenvolvimento e Meio Ambiente (UFPI).
          Doutora em Estudos Urbanos e Regionais (UFRN).
        </p>
        <a href="http://lattes.cnpq.br/3882599359083651" target="_blank" class="botao-lattes">
          Ver Currículo Lattes
        </a>
      </div>
    </div>

    <a href="/" class="voltar">Voltar</a>
  </main>

</body>
</html>
