<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Meu Perfil - Mapeia</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Meu Perfil</h1>
  </header>

  <main>
    <section class="usuarios-section">
      <img src="/imagens/usuario.png" class="usuario-logo-perfil">
      <h2>Seus Dados</h2>
      <p><strong>Nome:</strong> <%= usuario.nome %></p>
      <p><strong>Email:</strong> <%= usuario.email %></p>
      <p><strong>Data/Hora do Cadastro:</strong> <%= usuario.cadastro %></p>
    </section>

    <section class="acoes-admin">
      <ul>
        <li><a href="/" class="botao-admin">Home</a></li>
        <li><a href="/logout" class="botao-admin sair">Logout</a></li>
      </ul>
    </section>
  </main>
</body>
</html>
